<footer>
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/juguerreiro/"><img src= "https://avatars.githubusercontent.com/u/95770046?s=40&v=4"></a>
      <a href="https://github.com/Marianaa93"><img src= "https://avatars.githubusercontent.com/u/91208001?s=40&v=4"></a>
     <a href="https://github.com/abadesso/" ><img src= "https://avatars.githubusercontent.com/u/96806623?s=40&v=4"></a>

    </div>
    <div class="footer-copyright">
      This website is made with <i class="fas fa-utensils"></i> by Julia, Mariana & Rafael
    </div>
    <div class="font">
    <p>All recipes are avaiable at: https://www.bbcgoodfood.com/</p>
    </div>
  </div>
</footer>
