  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/7073699/410702_847196.png);">
  <div class="container">
    <h1 class="title">Hey Nutri!</h1>
    <p class="my-4">Change your life with selected meals</p>
    <div class="my-4" height=20px>
      <%= link_to "Join now", new_user_registration_path, class:"button" %>
    </div>
    <%# <a class="button" href="#">Subscribe</a> %>
  </div>
</div>



<div class="car" >
  <h4 class="subtitle">Did you know?</h4><i class="fas fa-apple-crate"></i>
  <!-- STAR CAROUSEL -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1647368183/image_1_aeekb9.png" class="rounded d-block w-75 object-fit mx-auto" height="430px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1647872489/image_4_zwetf8.png" class="rounded d-block w-75 object-fit mx-auto" height="430px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1647368183/image_2_xhos3q.png" class="rounded d-block w-75 object-fit mx-auto" height="430px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1647368232/image_3_silxpp.png" class="rounded d-block w-75 object-fit mx-auto" height="430px" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- END CAROUSEL -->
  </div>

</div>
 <!---------------------------------------------------------------------------------------------------- -->
<div class="container" >
  <h4 class="subtitle-meal mt-5 pt-5">Breakfast</h4>
  <!-- CARD FLIP -->
  <section>
    <div class="row cards">
      <div class="col-lg">
            <!-- 1 Card Flip -->
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card p-3">
                <img class="rounded card-img-top" src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1646938900/breakfast_yufpmq.jpg" alt="breakfast option1" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-block">
                  <h4 class="card-title text-center my-3">Muesli with oats, dates & berries</h4>
                  <p class="card-text" >Packed with oats, pecans, seeds, dates, puffed wheat and berries, this delicious breakfast muesli will help you to start your day the right way</p>
                  <div class="button-second w-100 card-text text-center py-2"><i class="fas fa-utensils"></i></div>
                </div>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card p-3">
                <div class="card-block">
                  <h4 class="card-title"><strong>Recipe</strong></h4>
                  <h6 class="card-subtitle text-muted">★4.8</h6>
                </div>
                <div class="card-block">
                  <p class="card-text"><strong>STEP 1:</strong> Tip the oats into a frying pan and heat gently, stirring frequently until they are just starting to toast. Add the pecans and seeds to warm briefly, then tip into a large bowl and toss so they cool quickly.</p>
                  <p class="card-text"><strong>STEP 2:</strong> Add the dates and puffed wheat, mix well until thoroughly combined, then serve topped with the yogurt and fruit, and a sprinkling of cinnamon, if you like.</p>
                  <div class="information">
                    <i class="fas fa-clock"></i><p>5min</p>
                    <i class="fas fa-hat-chef"></i><p>Easy</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

            <!-- 2 Card Flip -->
      <div class="col-lg">
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card p-3">
                <img class="rounded card-img-top" src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1646946720/mexican-beans-and-avo-33f4279_k8jkhm.png" alt="breakfast option1" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-block">
                  <h4 class="card-title text-center my-3">Black beans & avocado on toast</h4>
                  <p class="card-text" >A vibrant Mexican-style breakfast with fresh avocado and black beans. Give yourself a healthy start with our easy vegan beans on toast with a twist</p>
                  <div class="button-second w-100 card-text text-center py-2"><i class="fas fa-utensils"></i></div>
                </div>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card p-3">
                <div class="card-block">
                  <h4 class="card-title"><strong>Recipe</strong></h4>
                  <h6 class="card-subtitle text-muted">★4.5</h6>
                </div>
                <div class="card-block">
                  <p class="card-text"><strong>STEP 1:</strong> Mix the tomatoes, ¼ onion, lime juice and 1 tbsp oil and set aside. Fry the onion add the garlic, fry for 1 min, then add the cumin and chipotle. Tip in the beans and a splash of water. Stir in most of the tomato mixture and cook for 1 min, season well and add most of the coriander.</p>
                  <p class="card-text"><strong>STEP 2:</strong> Toast the bread and drizzle with the remaining 1 tbsp oil. Put a slice on each plate and pile some beans on top. Arrange some slices of avocado on top, then sprinkle with the remaining tomato mixture and coriander leaves to serve.</p>
                  <div class="information">
                    <i class="fas fa-clock"></i><p>5min</p>
                    <i class="fas fa-hat-chef"></i><p>Easy</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

            <!-- 3 Card Flip -->
      <div class="col-lg">
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card p-3">
                <img class="rounded card-img-top" src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1646947547/muphim_is26dy.webp" alt="breakfast option1" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-block">
                  <h4 class="card-title text-center my-3">Healthy banana muffins</h4>
                  <p class="card-text" >Make these moreish banana muffins for an easy breakfast or a snack on the go. They're also great for lunchboxes with the whole family.</p>
                  <div class="button-second w-100 card-text text-center py-2"><i class="fas fa-utensils"></i></div>
                </div>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card p-3">
                <div class="card-block">
                  <h4 class="card-title"><strong>Recipe</strong></h4>
                  <h6 class="card-subtitle text-muted">★4.95 </h6>
                </div>
                <div class="card-block">
                  <p class="card-text"><strong>STEP 1:</strong> Sift together the flour, baking powder, bicarbonate of soda and caster sugar with a big pinch of salt. In a separate bowl mix the melted butter, vanilla extract, eggs, mashed bananas and buttermilk.</p>
                  <p class="card-text"><strong>STEP 2:</strong> Roughly mix together with a fork, being careful not to over-mix. Scatter in the chopped pecans, if using, then spoon the mixture into the muffin cases. Top with pecan halves, then bake for 20-25 mins, until golden brown.</p>
                  <div class="information">
                    <i class="fas fa-clock"></i><p>5min</p>
                    <i class="fas fa-hat-chef"></i><p>Easy</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END CARD FLIP -->

  <!---------------------------------------------------------------------------------------------------- -->

  <h4 class="subtitle-meal">Lunch</h4>
  <!-- CARD FLIP -->
  <section>
    <div class="row cards">
      <div class="col-lg">
            <!-- 1 Card Flip -->
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card p-3">
                <img class="rounded card-img-top" src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1646948665/salmon_fekhz1.webp" alt="breakfast option1" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-block">
                  <h4 class="card-title text-center my-3">Smoked salmon, quinoa & dill lunch pot</h4>
                  <p class="card-text" >This easy packed lunch is as delicious as it is nutritious, with crunchy cucumber and radishes and a herby, creamy dressing</p>
                  <div class="button-second w-100 card-text text-center py-2"><i class="fas fa-utensils"></i></div>
                </div>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card p-3">
                <div class="card-block">
                  <h4 class="card-title"><strong>Recipe</strong></h4>
                  <h6 class="card-subtitle text-muted">★4.7</h6>
                </div>
                <div class="card-block">
                  <p class="card-text"><strong>STEP 1:</strong> First, make the dressing. Mix the soured cream and lemon juice together in a bowl, then add most of the dill, reserving a quarter for serving.</p>
                  <p class="card-text"><strong>STEP 2:</strong> In another bowl, combine the quinoa with the cucumber and radishes, and stir through half the dressing. Season and top with the salmon and the rest of the dill.</p>
                  <div class="information">
                    <i class="fas fa-clock"></i><p>15min</p>
                    <i class="fas fa-hat-chef"></i><p>Hard</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- End Card Flip -->
            <!-- 2 Card Flip -->
      <div class="col-lg">
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card p-3">
                <img class="rounded card-img-top" src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1646948665/turkey_ghfzbv.webp" alt="breakfast option1" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-block">
                  <h4 class="card-title text-center my-3">Turkey tikka masala</h4>
                  <p class="card-text" >Crave spice after the traditional Christmas lunch? Want to turn your leftover turkey into a whole new dish? This tasty turkey tikka masala is for you</p>
                  <div class="button-second w-100 card-text text-center py-2"><i class="fas fa-utensils"></i></div>
                </div>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card p-3">
                <div class="card-block">
                  <h4 class="card-title"><strong>Recipe</strong></h4>
                  <h6 class="card-subtitle text-muted">★4.5</h6>
                </div>
                <div class="card-block">
                  <p class="card-text"><strong>STEP 1:</strong> Heat the oil in a casserole dish or shallow pan over a medium heat, and fry the onions for 10-12 mins until golden. Stir in the garlic, ginger, chilli and all the spices, and cook for 2 mins more until the mixture resembles a paste.</p>
                  <p class="card-text"><strong>STEP 2:</strong> TStir in most of the cream and the yogurt, if using, and return the mixture to a simmer. Add the turkey and continue to simmer until the turkey is piping hot. Remove from the heat, drizzle over the remaining cream and stir through briefly.</p>
                  <div class="information">
                    <i class="fas fa-clock"></i><p>50min</p>
                    <i class="fas fa-hat-chef"></i><p>Hard</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- End Card Flip -->
            <!-- 3 Card Flip -->
      <div class="col-lg">
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card p-3">
                <img class="rounded card-img-top" src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1646948665/fish_erpary.webp" alt="breakfast option1" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-block">
                  <h4 class="card-title text-center my-3">Herby fish fingers with Brazilian rice</h4>
                  <p class="card-text" >This healthy, gluten-free lunch or dinner supplies a balance of carbs and protein, making it perfect for refuelling after exercise.</p>
                  <div class="button-second w-100 card-text text-center py-2"><i class="fas fa-utensils"></i></div>
                </div>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card p-3">
                <div class="card-block">
                  <h4 class="card-title"><strong>Recipe</strong></h4>
                  <h6 class="card-subtitle text-muted">★5 </h6>
                </div>
                <div class="card-block">
                  <p class="card-text"><strong>STEP 1:</strong> Cook the rice in a pan of water for 25 mins, adding the peas and beans for the last 6 mins. Drain, then return to the pan and stir in the spring onions, chilli flakes, all but 1 tbsp chopped coriander, the tamari and sesame oil.</p>
                  <p class="card-text"><strong>STEP 2:</strong> Meanwhile, heat a large non-stick pan with the rapeseed oil Beat the eggs with the remaining 1 tbsp coriander. Cut the fish into chunky strips, then coat them in the egg and fry in the oil for a couple of mins each side until golden.</p>
                  <div class="information">
                    <i class="fas fa-clock"></i><p>35min</p>
                    <i class="fas fa-hat-chef"></i><p>Easy</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card Flip -->
    </div>
  </section>
  <!-- END CARD FLIP -->

  <!---------------------------------------------------------------------------------------------------- -->

  <h4 class="subtitle-meal">Dinner</h4>
  <!-- CARD FLIP -->
  <section>
    <div class="row cards">
      <div class="col-lg">
            <!-- 1 Card Flip -->
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card p-3">
                <img class="rounded card-img-top" src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1646949722/dinner1_gdwfeh.webp" alt="breakfast option1" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-block">
                  <h4 class="card-title text-center my-3">Healthy roast dinner</h4>
                  <p class="card-text" >Cook a healthy, low-fat version of roast beef for two, made with lean, juicy steak and roasted veg, plus gravy on the side</p>
                  <div class="button-second w-100 card-text text-center py-2"><i class="fas fa-utensils"></i></div>
                </div>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card p-3">
                <div class="card-block">
                  <h4 class="card-title"><strong>Recipe</strong></h4>
                  <h6 class="card-subtitle text-muted">★4.4</h6>
                </div>
                <div class="card-block">
                  <p class="card-text"><strong>STEP 1:</strong> Heat the oven to 180C/160C fan/gas 4. Bring a large pan of water to the boil and cook the potatoes for 5 mins. Drain, reserving the water.</p>
                  <p class="card-text"><strong>STEP 2:</strong> Toss the potatoes, carrots, onions and sprouts with 2 tsp of the oil to coat. Arrange on a non-stick baking sheet, spaced apart. Scatter with 1 tsp of the thyme, grind over some black pepper, then roast for 30 mins.</p>
                  <div class="information">
                    <i class="fas fa-clock"></i><p>25min</p>
                    <i class="fas fa-hat-chef"></i><p>Easy</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- End Card Flip -->
            <!-- 2 Card Flip -->
      <div class="col-lg">
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card p-3">
                <img class="rounded card-img-top" src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1646949722/dinner2_mjwnfw.webp" alt="breakfast option1" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-block">
                  <h4 class="card-title text-center my-3">Roast especial vegetables</h4>
                  <p class="card-text" >Cooking for yourself definitely doesn't have to be boring with this roast for one that's cheap and easy to prepare</p>
                  <div class="button-second w-100 card-text text-center py-2"><i class="fas fa-utensils"></i></div>
                </div>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card p-3">
                <div class="card-block">
                  <h4 class="card-title"><strong>Recipe</strong></h4>
                  <h6 class="card-subtitle text-muted">★4.2</h6>
                </div>
                <div class="card-block">
                  <p class="card-text"><strong>STEP 1:</strong> Put the potatoes, carrots, onion and broccoli in a small roasting tin with the thyme and bay leaf. Drizzle over the remaining oil, season well and toss together to coat everything.</p>
                  <p class="card-text"><strong>STEP 2:</strong> Put the potatoes, carrots, onion and broccoli in a small roasting tin with the thyme and bay leaf. Drizzle over the remaining oil, season well and toss together to coat everything.</p>
                  <div class="information">
                    <i class="fas fa-clock"></i><p>10min</p>
                    <i class="fas fa-hat-chef"></i><p>Easy</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- End Card Flip -->
            <!-- 3 Card Flip -->
      <div class="col-lg">
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card p-3">
                <img class="rounded card-img-top" src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1646949748/dinner3_xlt8vs.webp" alt="breakfast option1" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-block">
                  <h4 class="card-title text-center my-3">Fajita-style pasta</h4>
                  <p class="card-text" >Take the aromatic flavours of a classic Mexican fajita and combine with pasta for this easy, vibrant meal. It's an ideal Friday night dinner</p>
                  <div class="button-second w-100 card-text text-center py-2"><i class="fas fa-utensils"></i></div>
                </div>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card p-3">
                <div class="card-block">
                  <h4 class="card-title"><strong>Recipe</strong></h4>
                  <h6 class="card-subtitle text-muted">★4 </h6>
                </div>
                <div class="card-block">
                  <p class="card-text"><strong>STEP 1:</strong> eat the oil in a large shallow casserole or frying pan. Add the chicken and fry for 5 mins over a medium heat until golden all over. Remove and set aside on a plate.</p>
                  <p class="card-text"><strong>STEP 2:</strong> Put the onion and peppers in the same pan and fry over a medium heat for 8-10 mins. Add the garlic, dried herbs and spices and cook for 1 min. Add the tomato purée and cook for 2 mins. Return the chicken to the pan and pour in the cream, stirring to combine. Season to taste.</p>
                  <div class="information">
                    <i class="fas fa-clock"></i><p>35min</p>
                    <i class="fas fa-hat-chef"></i><p>Easy</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- End Card Flip -->
      </div>
      <h4 class="subtitle-c">Our Cookers</h4>
      <p>For you who don't have time to cook, find here our partner cookers.</p>
      <%# <i class="fas fa-map-marker-alt"></i> %>


    </div>
  </section>
  <!-- END CARD FLIP -->

  <div style="width: 85%; height: 400px; margin: 40px auto"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
 </div>



<%= link_to  request.path, :class => "buttontop"  do %>
  <i class="fa-solid fa-arrow-up"></i>
<% end %>