.button {
  color: white;
  border: 1px solid #4A4A4A;
  padding: 15px 60px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: #146356;
  font-size: large;
  text-decoration: none;

}

.button-second{
  background-color: #146356;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.buttontop {
  
display: inline-block;
background-color: #146356;
width: 50px;
height: 50px;
text-align: center;
border-radius: 4px;
position: float;
bottom: 30px;
right: 30px;
transition: background-color .3s, opacity .5s, visibility .5s;
z-index: 1000;
color: white;
font-size: xx-large;


}


