.button {
  color: white;
  border: 1px solid #4A4A4A;
  padding: 15px 60px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: #146356;
  font-size: large;
}

.button-second{
  background-color: #146356;
  color: white;
  text-decoration: none;
  font-size: 20px;
}


