.card-principal {
  background-color: white;
  width: 70%;
  margin: auto;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 10px;
  li {
    list-style: none;
  }
  ul{
    padding: 0px;
  }
}

.card-menu{
  border-color: black;
  border-left: 1px;
}

.week-day {
  font-family: 'Amatic SC', cursive;
}

.snack {
  text-align-last: center;
}

.center {
  text-align-last: center;
}

.card-mask {
  background-color: red;
  width: 70%;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;

}
