.title {
  font-size: 120px;
  color: #146356;
}

.subtitle {
  font-family: 'League Gothic', sans-serif;
  color: #146356;
  font-size: 40px;
  margin-top: 10px;

}

.navbar-light .navbar-nav .nav-link {
  color: #e9ecef;
  text-decoration: none;

}